* {
    background-color: black;
    color: white;
}

h1, h2, #projects > p, header > p {
    text-align: center;
}

#projects {
    border: solid white 2px;
    border-radius: 5px;
    padding: 10px;
}

a {
    text-decoration: none;
}